{{>header}}

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-7 col-xl-6">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <form action="/user_signup" method="get">
                            <h3 class="d-flex d justify-content-center">{{message}}</h3>
                            <div class="d-flex d justify-content-center">
                                {{#if invalidUserError}}
                                <input class="btn btn-primary btn-lg" type="submit" value="Signup" />
                                {{/if}}
                                {{#if PasswordError}}
                                <a class="btn btn-primary btn-lg" href="/">Login</a>
                                {{/if}}
                                {{#if adminError}}
                                <a class="btn btn-primary btn-lg" href="/admin_login">Login</a>
                                {{/if}}
                                {{#if user}}
                                <a class="btn btn-primary btn-lg" href="/">Login</a>
                                {{/if}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{>footer}}