{{>header}}
<section class="vh-100" style="background-image: url(/img/banner.jpg);">
    <form action="/user_logout" method="post" class="d-grid d-md-flex justify-content-md-end ">
        <button class="btn btn-outline-light btn-lg px-5 ">logout</button>
    </form>
</section>
{{>footer}}